h1{
    font-size: 25px;
    color:rgb(25, 6, 95);
    font-family: Arial;
}
body{
    background-color: #524a04;
}
p {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #ccc;
    line-height: 18px;
    margin-bottom: 20px;
    }